<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <%-include('header');-%>
        <link rel="stylesheet" href="css/index.css">
        <title>Home | medigo</title>
</head>

<body>
    <div class="d-flex justify-content-center ">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="#">mediGo</a>
        </nav>
    </div>
    <div class="homediv d-flex flex-column align-items-center flex-wrap">
        <div class="p-2">
            <h3>Which status suits you best!?</h3>
        </div>
        <div class="p-2 d-flex flex-row">
            <form action="doctorlogin" method="GET">
                <button type="submit" class="btn btn-outline-success btn-lg">Doctor</button>
            </form>
            <form action="patientlogin" method="GET">
                <button type="submit" class="btn btn-outline-info btn-lg">Patient</button>
            </form>
        </div>
    </div>

    <div class="homediv d-flex flex-column align-items-center flex-wrap">
        <div class="p-2">
            <h3>Our Studies!</h3>
        </div>
        <div class="p-2 d-flex flex-row">
            <form action="" method="GET">
                <button type="submit" class="btn btn-outline-success btn-lg">Dia</button>
            </form>
            <form action="" method="GET">
                <button type="submit" class="btn btn-outline-info btn-lg">Maleria</button>
            </form>
        </div>
    </div>


    <%-include('footer');-%>
</body>

</html>