<!DOCTYPE html>
<html lang="en">

<head>
    <%-include('header');-%>
        <title>home | medigo</title>
</head>

<body>
    <a href="doctorlogin">Doctor</a>
    <a href="patientlogin">Patient</a>
    <%-include('footer');-%>
</body>

</html>